@media (max-width: 1023px){

    .bg4circuloamareloazullinha{
        display: none;
    }

    .bg4setaamarela{
        display: none;
    }

    .bg2circulovermelhopontilhado{
        display: none;
    }

    .bgzcirculoamareloazullinha{
        display: none;
    }

    .bgzsetaamarela{
        display: none;
    }
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body{
    width:100%;
    height:90vh;
    background-color: white;
    font-family: "Open Sans", sans-serif ;
    max-width: 100vw;
    max-height: 90vh;
    overflow-x: hidden;
}

.quadradinho{
    width: 3vh;
    height: 3vh;
    border-color: #e25f07;
    border-width: 1.5px;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    margin-right: 1vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:100%;
    font-weight: 900;
    color:#e25f07;
}

.quadradinho:hover{
    background-color: rgb(223, 223, 223);
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBox{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}


button{
    outline: none;
}



.container{

    width:100%;
    height:100vh;
}


.slide-1{
    width:100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide-2{
    width:100vw;
    height: 100vh;
    position: absolute;
    display:none;
}

.bg1circuloamarelo{
    position: absolute;
    z-index: -1;
    
    height: 80%;
    width:  80%;
    
    top:  -60vh; 
    left: -23vw;
    
}

.bg1linhaazul{
    position: absolute;
    
    z-index: -1;
   
    height: 50%;
    width:  50%;
  
    top: -27vh;
    right: -17vw;
    
    
    transform: rotate(180deg);
    transform: rotateX(180deg);
}

.bg1circulovermelho{
    position: absolute;
    z-index: -1;
    
    width: 65%;
    height: 65%;

    bottom: -31vh;
    left: -29vw;
}

.bg1setavermelha{
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 45%;

    bottom: -21vh;
    right: 10vw;

}

@media (max-width: 1000px)
{
  .bg1setavermelha 
   {
    display: none !important;
    }

    .bg2setinhavermelha 
   {
    display: none !important;
    }

    .bg2setinhavermelha2
   {
    display: none !important;
    }
}

.bg1circuloazulvazado{
    position: absolute;
    z-index: -1;

    width: 7%;
    height: 7%;

    top: 11vh;
    left: 44vw;
}

.bg1circuloazulvazado2{
    position: absolute;
    z-index: -1;

    width: 3%;
    height: 3%;

    top: 8vh;
    left: 49vw;
}

.bg1setinhavermelha{
    position: absolute;
    z-index: 0;

    width: 9%;
    height: 9%;

    top: 4vh;
    left: 49vw;
}



@media(min-width: 800px){

    
}

@media(min-width: 1080px){

}


@media(min-width: 1281px){
    
}

@media(min-width: 1400px){
    
}


.bg1circulovermelhovazado{
    position: absolute;
    z-index: -1;

    width: 6%;
    height: 6%;

    bottom: 10vh;
    left: 35vw;
}

.logo {
    position: absolute;
    z-index: 2;
    
    top: 8vh;
    left: 7vw;

    
    width: 10vw;

}

.flexmeio {
    display: flex;
    margin-left: -2vw;
    width: 100vw;
    height: 100vh;

    
    justify-content: center;
    align-items: center;
    
}
.mod6{
    position: relative;
    display: flex;
    width: 19vw;
    z-index: 1;
    
}    

.botaoFechar{
    border-width: 0;
    color: #2C2C2C !important;
    transition: color 500ms;
}

.botaoFechar:hover{
    color:red !important;
}


.fecharClick{
    position:absolute;
    right: 2.4%;
    top:15%;
    cursor: pointer;
    z-index: 999;
    transition: color 0.3s;
    background-color:white;
    padding:8px;
    width: 20px;
    text-align:center;
    border-radius:60%;
    box-shadow:0 22px 2 rgba(0, 0, 0, 0.034);
}

.fecharClick:hover{
    color:red;
    
}


.nuremberg{
    cursor: pointer;
    color:#546cff;
}

.contentText{
    font-family: "Open Sans" !important;
    padding: 15px !important;
}

.texto0{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    

    
}
.subtituloaux{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33vw;
}


.titulo1{
    position: relative;
    display: flex;
    font-family: "Open Sans Bold", sans-serif ;
    font-size: 5vh;
    color: #2a4d80

}
.titulo2{
    position: relative;
    display: flex;
    width: 0vw;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 7vh;
    font-weight: 750;
    color: #2a4d80;
    
}

.subtitulo{
    display: flex;
    
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    
    align-items: center;
    background-color: #c95044;
    
}

.titulo3{
    
    font-size: 2.5vh;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

.bgzcirculoamarelo{
    position: absolute;
    z-index: -1;
    
    height: 80%;
    width:  80%;
    
    top:  -60vh; 
    left: -23vw;
}

.bgzcirculovermelho{
    position: absolute;
    z-index: -1;
    
    height: 25%;
    width:  25%;

    top:     13vh; 
    right:   -13.3vw;
}

.bgzlinhavermelha{
    position: absolute;
    z-index: -1;
    
    height: 22%;
    width:  22%;

    top:  19vh;
    left: 0vw;
}

.bgzlinhavermelha2{
    position: absolute;
    z-index: -1;
    
    height: 22%;
    width:  22%;

    top:    19vh;
    left:   -14vw;
}

.bgzlinhavermelha3{
    position: absolute;
    z-index: -1;
    
    height: 22%;
    width:  22%;

    bottom: 5vh;
    right:  -5.5vw;
}

.bgzcirculoamareloazulvazado{
    position: absolute;
    z-index: 1;
    
    height: 6%;
    width:  6%;

    top:  9vh;
    left:  20.5vw;

    transform: rotate(315deg);
}

.bgzsetaamarela{
    position: absolute;
    z-index: 1;
    
    height: 30%;
    width:  30%;

    bottom: -11.5vh;
    left:    7vw;
}

.bgzcirculoamareloazullinha{
    position: absolute;
    z-index: 1;
    
    height: 65%;
    width:  65%;

    bottom: -41.5vh;
    right:    5vw;
}

.bgzcirculopontilhado{
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 110vh;
    top: -5vh;
    opacity: 0.8;
}

.bgzhand{
    position: relative;
    z-index: 3;
    display: flex;
    
    
    width:  8vw;
    margin-left: 2vw;
    margin-bottom: 4vh;
}

.tituloconclusao{
    
    line-height: 1.5vh;
    font-family: "Open Sans";
    font-size: 4vh;
    font-weight: bold;
    color: #5eacb4;
    margin-left: 2vw;
}

.slide{
    display: flex;
    width: 100vh;
    height: 100vw;
}

.slide:target{
    display: block;
}

.conteudo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    

    height: 100vh;
    width:  100vw;
}

.conteudovertical{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    z-index: 5;
    width: 80vw;
    margin-left: 10vw;
    height: 100vh;
}

.blocoamarelo{
    padding: 1%;
    background-color: #f1cd3c;
    border-radius: 5px;
}

.caixa{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 80vw;

}

.caixa2{
    display: flex;
    justify-content: flex-start;
    padding-left: 5vw;
    padding-right: 5vw;
    align-items: center;
    height: 15vh;
    width: 70vw;
}


.imgcaixasurpresa1{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/forma1-tela12.png");
    height: 20vw;
    width: 20vw;

    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
}

.imgcaixasurpresa2{
    background-repeat: no-repeat;
    display: flex;
    background-image: url("../img/forma2-tela12.png");
    height: 20vw;
    width: 20vw;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-size: cover;
}

.imgcirculosurpresa1{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem-tela18_1.png");
    height: 19.1vw;
    width: 17.3vw;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
}

.imgcirculosurpresa2{
    background-repeat: no-repeat;
    display: flex;
    background-image: url("../img/imagem-tela18_2.png");
    height: 19.1vw;
    width: 17.3vw;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-size: cover;
}

.imgcirculosurpresa1:hover{
    cursor: pointer;
}

.imgcirculosurpresa2:hover{
    cursor: pointer;
}

.imgcaixasurpresa1:hover{
    cursor: pointer;
}
.imgcaixasurpresa2:hover{
    cursor: pointer;
}

.caixatexto{
    display: flex;
    margin-left: 1vw;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans";
    font-weight: 700;
}

.caixatexto2{
    display: flex;
    margin-top: -7.5vh;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans";
    font-weight: 700;
}



.blocotexto{
    font-family: "Open Sans";
    width: 42vw;
}

.header1{

    z-index: 3;
    font-size: 4vh;
    font-family: "Open Sans";
    color: #5eacb4;
    font-weight: 900;
}

.texto1{
    z-index: 3;
    font-family: "Open Sans";
    font-size: 3vh;
}

.texto2{
    z-index: 3;
    font-family: "Open Sans";
    font-size: 2.5vh;
}

.rodape1{
    z-index: 3;
    font-family: "Open Sans";
    font-size: 3vh;
    color: #e59f00;
    font-weight: 900;
}

.textopontilhado{
    border: 2px dashed black;
    border-radius: 5px;
    width: 32vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: "Open Sans";
}

.divmae{
    position: relative;
    display: flex;
    height: 24vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.dragrodape{
    position: relative;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
    

    height: 10vh;
    width:  80vw;
}

.imagemtela0{
    position: relative;
    display: flex;
    margin-left: -5vw;
    width: 33vw;
}

.imagemtela1{
    position: relative;
    display: flex;
    z-index: 2;
    width: 38vw;
}

.imagemtela3{
    position: relative;
    display: flex;
    z-index: 2;
    width: 38vw;
}

.imagemtela4{
    position: relative;
    display: flex;
    z-index: 2;
    width: 13vw;
}

.imagemtela5{
    position: relative;
    display: flex;
    z-index: 2;
    width: 35vw;
}

.imagemtela13{
    position: relative;
    display: flex;
    z-index: 2;
    width: 7vw;
}

.imagemtela16{
    position: relative;
    display: flex;
    z-index: 2;
    width: 34vw;
}

.imagemtela20{
    position: relative;
    display: flex;
    z-index: 2;
    width: 30vw;
}

.imagempergunta{
    position: relative;
    display: flex;
    z-index: 2;
    width: 28vw;
}

.areabtn{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 40vw;
    z-index: 6;
}

.botao{
    font-family: "Open Sans";
    font-size: 3vh;
    border-radius: 5px;

    padding-left: 7vw;
    padding-right: 7vw;

    padding-top: 2vh;
    padding-bottom: 2vh;
    

    color: #e25f07;
    background-color: white;
    border: 1.5px solid #e25f07;

    cursor: pointer;
}



.botaope{
    font-family: "Open Sans";
    font-size: 3vh;
    border-radius: 5px;

    padding-left: 6vw;
    padding-right: 6vw;


    padding-top: 2vh;
    padding-bottom: 2vh;


    color: #e25f07;
    background-color: white;
    border: 1.5px solid #e25f07;


   
    cursor: pointer;
}

.botao:hover{
    font-family: "Open Sans";
    background-color: #e25f07;
    color: white;
}

.botaope:hover{
    font-family: "Open Sans";
    background-color: #e25f07;
    color: white;
}

.resultado1{
    visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1vw;
    font-size: 80%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 15vw;
    background-color: #6abb9b;
    transition: visibility 300ms;
}

.resultado1.active {
    visibility: visible;
}

.resultado2{
    visibility: hidden;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display:flex;
    padding-left: 1vw;
    font-size: 80%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 15vw;
    background-color: #ca5044;
    transition: visibility 300ms;
}


.resultado2.active{
    visibility: visible;
}


.disabilitado{
    display: none;
}

.pageNumber{
    color: #546cff;
    font-size: 3vw;
}

.totalPages{
    color: #888888;
    font-size: 2vw;
}

.contador{
    position: absolute;
    z-index: 1000;
    font-family: "Open Sans", sans-serif ;
    bottom: 2vh;
    right: 2vw;
    font-weight: 750;
    display: flex;
    flex-direction: row;
    
}

.revisao{
    cursor: pointer;
    color:#546cff;
}

@media(max-width: 568px){
    .caixatexto{
        font-size: 0.5rem !important;
    }
    .check{
        font-size: 0.6rem !important;
    }
}