.mod3{
    position: relative;
    display: flex;
    width: 19vw;
    z-index: 1;
    
}

.imagem3tela0{
    position: relative;
    display: flex;
    width: 46vw;
    margin-left: -15vw;
}

.imagem3tela1{
    position: relative;
    display: flex;
    z-index: 2;
    width: 38vw;
}

.imagem3tela2{
    
    position: relative;
    display: flex;
    z-index: 2;
    width: 38vw;
}

.imagem3tela3{
    
    position: relative;
    display: flex;
    z-index: 2;
    width: 42vw;
}

.imagem3tela4{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela4.png");
    height: 32vw;
    width: 55vw;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    background-size: cover;
    text-align: center;
}


.botao3divtela4_1{
    width: 7vw;
}

.botao3divtela4_2{
    width: 7vw;
}

.botao3divtela4h_1{
    width: 7vw;  
    margin-left: 12.5vw;
    margin-top: -4.8%;
}

.botao3divtela4h_2{
    width: 7vw;
    margin-left: 7.5vw;
    margin-top: -27%;
}

.botao3divtela4_2:hover{
    cursor: pointer;
}
.botao3divtela4_1:hover{
    cursor: pointer;
}

.imagem3tela5{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela5.png");
    height: 32vw;
    width: 55vw;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    background-size: cover;
    text-align: center;
}


.botao3divtela5_1{
    width: 7vw;
}

.botao3divtela5_2{
    width: 7vw;
}

.botao3divtela5h_1{
    width: 7vw;  
    margin-right: 7.2vw;
    margin-top: -28.1%;
}

.botao3divtela5h_2{
    width: 7vw;
    margin-right: 9vw;
    margin-top: -53%;
}

.botao3divtela5_2:hover{
    cursor: pointer;
}
.botao3divtela5_1:hover{
    cursor: pointer;
}

.imagem3tela6{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela6.png");
    height: 18.1vw;
    width: 54vw;
    
    align-items: center;
    align-self: center;
    background-size: cover;
    text-align: center;
}

.botao3divtela6_1{
    width: 6vw;
}

.botao3divtela6_1:hover{
    cursor: pointer;
}

.botao3divtela6_2{
    width: 6vw;
}

.botao3divtela6_2:hover{
    cursor: pointer;
}

.botao3divtela6h_1{
    width: 6vw;  
    margin-left: 17.5%;
    margin-top: 9%;
}

.botao3divtela6h_2{
    width: 6vw;
    margin-left: 45.5%;
    margin-top: 9%;
}

.imagem3tela7{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela7.png");
    height: 27vw;
    width: 44vw;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
}

.botao3divtela7{
    width: 10vw;
}

.botao3divtela7:hover{
    cursor: pointer;
}

.botao3divtela7h{
    width: 10vw;  
    margin-right: 13vw;
    margin-top: 20%;
}

.imagem3tela8{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela8.svg");
    height: 25vw;
    width: 90vw;
    background-size: cover;
    text-align: center;
}

.imagem3tela9{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela9.svg");
    height: 25vw;
    width: 120vw;
    margin-left: -15vw;
    background-size: cover;
    text-align: center;
}

.imagem3tela10{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela10.svg");
    height: 25vw;
    width: 120vw;
    margin-left: -5vw;
    background-size: cover;
    text-align: center;
}

.imagem3tela11{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela11.svg");
    height: 25vw;
    width: 120vw;
    margin-left: -5vw;
    background-size: cover;
    text-align: center;
}

.rodapespan:hover{
    cursor:pointer;
}

.imagem3tela12{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela12.svg");
    height: 25vw;
    width: 120vw;
    margin-left: -5vw;
    background-size: cover;
    text-align: center;
}



.imagem3tela13{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela13.svg");
    height: 25vw;
    width: 80vw;
    margin-left: -15vw;
    background-size: cover;
    text-align: center;
}

.tlhover{
    width: 7.8vw;
    height: 7.5vw;
    display: flex;
}

.tlhover:hover{
    cursor: pointer;
}


.imagem3tela14{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela14.png");
    height: 30vw;
    width: 31vw;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
}

.botao3divtela14{
    width: 10vw;
}

.botao3divtela14:hover{
    cursor: pointer;
}

.botao3divtela14h{
    width: 10vw;  
    margin-right: 16vw;
    margin-top: 30%;
}

.imagem3tela16{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem3-tela16.svg");
    height: 30vw;
    width: 25vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    text-align: center
}


.botao3divtela16_1{
    width: 5vw;
}
.botao3divtela16_2{
    width: 5vw;
}
.botao3divtela16_3{
    width: 5vw;
}
.botao3divtela16_4{
    width: 5vw;
}
.botao3divtela16_5{
    width: 5vw;
}


.botao3divtela16h_1{
    width: 5vw;
    margin-left: -5vw;
    margin-top: -0.7%;
}

.botao3divtela16h_2{
    width: 5vw;
    margin-left: -30vw;
    margin-top: 10%;
}

.botao3divtela16h_3{
    width: 5vw;
    margin-left: 29.5vw;
    margin-top: 17.7%;
}

.botao3divtela16h_4{
    width: 5vw;
    margin-left: -20vw;
    margin-top: 9.5%;
}

.botao3divtela16h_5{
    width: 5vw;
    margin-left: 23vw;
    margin-top: 1.6%;
}


.botao3divtela16_1:hover{
    cursor: pointer;
}
.botao3divtela16_2:hover{
    cursor: pointer;
}
.botao3divtela16_3:hover{
    cursor: pointer;
}
.botao3divtela16_4:hover{
    cursor: pointer;
}
.botao3divtela16_5:hover{
    cursor: pointer;
}

.timelinezigzag{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zig{
    width: 80vw;
    height: 20vh;
    display: flex; 
    justify-content: center;
}

.zag{
    width: 80vw;
    height: 20vh;
    display: flex; 
    justify-content: center;
}

.divzig{
    height: 100%; 
    width: 10vw; 
    display: flex; 
    align-items: flex-end;
}

.divzag{
    height: 100%; 
    width: 10vw; 
    margin-top: -5vh;
    display: flex; 
    align-items: flex-start;
}

.zum{
    height: 10vh; 
    display: flex; 
    width: 64vw; 
    
    justify-content: center;
    
}

.tlano{
    width: 10vw;
}

.tlano:hover{
    cursor: pointer;
}

.tlsetas{
    display: flex; 
    height: 10vh; 
    margin-top: -5vh;
    width: 10vw; 
}

.tlsetabaixo{
    height: 15vh;
    width: 5vw;
    transform: rotate(110deg);
   
}

.tlsetacima{
    height: 15vh;
    width: 5vw;
    
}

.fundoexpo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2.5vh;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #6abb9b;
    transition: visibility 300ms;
}

.modalSlide{
    display: none;
}

.modalSlide.active{
    display: block;

}

.modalSlide1{
    display: none;
}

.modalSlide1.active{
    display: block;

}

.modalSlide2{
    display: none;
}

.modalSlide2.active{
    display: block;

}

.modalSlide3{
    display: none;
}

.modalSlide3.active{
    display: block;

}

.modalSlide4{
    display: none;
}

.modalSlide4.active{
    display: block;

}

.modalSlide5{
    display: none;
}

.modalSlide5.active{
    display: block;

}

@media(max-width:569px){
    .check{
        font-size: 0.6rem !important;
    }
}