.mod5{
    position: relative;
    display: flex;
    width: 16vw;
    z-index: 1;
}

.imagem5tela0{
    position: relative;
    display: flex;
    width: 34vw;
    margin-left: -6vw;
    cursor:pointer;
}

.imagem5tela1{
    position: relative;
    display: flex;
    z-index: 2;
    width: 29vw;
}

.imagem5tela2{
    position: relative;
    display: flex;
    z-index: 2;
    width: 29vw;
}

.imagem5tela3{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem5-tela3.png");
    height: 32vw;
    width: 29vw;
    
    align-items: center;
    background-size: cover;
}

.botao5divtela3_1{
    width: 4vw;
}
.botao5divtela3_2{
    width: 4vw;
}
.botao5divtela3_3{
    width: 4vw;
}
.botao5divtela3_4{
    width: 4vw;
}
.botao5divtela3_5{
    width: 4vw;
}
.botao5divtela3_6{
    width: 4vw;
}
.botao5divtela3_7{
    width: 4vw;
}

.botao5divtela3h_1{
    width: 4vw;
    margin-left: 11%;
    margin-top: 11.5%;
}
.botao5divtela3h_2{
    width: 4vw;
    margin-left: -6%;
    margin-top: -24%;
}
.botao5divtela3h_3{
    width: 4vw;
    margin-left: 1%;
    margin-top: 18%;
}
.botao5divtela3h_4{
    width: 4vw;
    margin-left: 1%;
    margin-top: -5.5%;
}
.botao5divtela3h_5{
    width: 4vw;
    margin-left: -14%;
    margin-top: -102%;
}
.botao5divtela3h_6{
    width: 4vw;
    margin-left: -1.5%;
    margin-top: -56%;
}
.botao5divtela3h_7{
    width: 4vw;
    margin-left: 5%;
    margin-top: -16%;
}


.botao5divtela3_1:hover{
    cursor: pointer;
}
.botao5divtela3_2:hover{
    cursor: pointer;
}
.botao5divtela3_3:hover{
    cursor: pointer;
}
.botao5divtela3_4:hover{
    cursor: pointer;
}
.botao5divtela3_5:hover{
    cursor: pointer;
}
.botao5divtela3_6:hover{
    cursor: pointer;
}
.botao5divtela3_7:hover{
    cursor: pointer;
}

.imagem5tela4{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem5-tela4.png");
    height: 31vw;
    width: 15vw;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
}

.botao5divtela4h{
    width: 7vw;
    margin-top: -27%;
    margin-right: -21%;
}

.botao5divtela4{
    width: 7vw;
}

.botao5divtela4:hover{
    cursor: pointer;
}

.imagem5tela51{
    position: relative;
    display: flex;
    z-index: 2;
    width: 17vw;
}

.imagem5tela52{
    position: relative;
    display: flex;
    z-index: 2;
    width: 17vw;
}

.imagem5tela71{
    width: 25vw;
}
.imagem5tela72{
    width: 25vw;
}
.imagem5tela73{
    width: 25vw;
}

.imagem5tela71:hover{
    cursor: pointer;
}
.imagem5tela72:hover{
    cursor: pointer;
}
.imagem5tela73:hover{
    cursor: pointer;
}

.imagem5tela8{
    position: relative;
    display: flex;
    z-index: 2;
    width: 29vw;
}

.imagem5tela9{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem5-tela9.svg");
    height: 32vw;
    width: 39vw;
    background-size: cover;
}


.botao5divtela9_1{
    width: 4vw;
}
.botao5divtela9_2{
    width: 4vw;
}
.botao5divtela9_3{
    width: 4vw;
}


.botao5divtela9h_1{
    width: 4vw;
    margin-left: 6%;
    margin-top: 18.5%;
}
.botao5divtela9h_2{
    width: 4vw;
    margin-left: 17.5%;
    margin-top: 4.5%;
}
.botao5divtela9h_3{
    width: 4vw;
    margin-left: 17%;
    margin-top: -6%;
}


.botao5divtela9_1:hover{
    cursor: pointer;
}
.botao5divtela9_2:hover{
    cursor: pointer;
}
.botao5divtela9_3:hover{
    cursor: pointer;
}

.imagem5tela10{
    position: relative;
    display: flex;
    z-index: 2;
    width: 32vw;
}

.imagem5tela11{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem5-tela11.png");
    height: 33vw;
    width: 40vw;
    background-size: cover;
    flex-direction: column;

}

.ficheiro1{
    display: flex;
    width: 100%;
    height: 2vw;
}
.ficheiro2{
    display: flex;
    width: 100%;
    height: 2vw;
}

.botao5divtela11_1{
    width: 2.3vw;
    
}
.botao5divtela11_2{
    width: 2.3vw;
}
.botao5divtela11_3{
    width: 2.3vw;
}
.botao5divtela11_4{
    width: 2.3vw;
}
.botao5divtela11_5{
    width: 2.3vw;
}
.botao5divtela11_6{
    width: 2.3vw;
}
.botao5divtela11_7{
    width: 2.3vw;
}
.botao5divtela11_8{
    width: 2.3vw;
}
.botao5divtela11_9{
    width: 2.3vw;
}
.botao5divtela11_10{
    width: 2.3vw;
}
.botao5divtela11_11{
    width: 2.3vw;
}
.botao5divtela11_12{
    width: 2.3vw;
}
.botao5divtela11_13{
    width: 2.3vw;
}
.botao5divtela11_14{
    width: 2.3vw;
}
.botao5divtela11_15{
    width: 2.3vw;
}
.botao5divtela11_16{
    width: 2.3vw;
}
.botao5divtela11_17{
    width: 2.3vw;
}
.botao5divtela11_18{
    width: 2.3vw;
}


.botao5divtela11h_1{
    width: 2.3vw;
    margin-left: 32%;
}
.botao5divtela11h_2{
    width: 2.3vw;
    margin-left: 3.2%;
}
.botao5divtela11h_3{
    width: 2.3vw;
    margin-left: 0.6%;
}
.botao5divtela11h_4{
    width: 2.3vw;
    margin-left: 0.6%;
}
.botao5divtela11h_5{
    width: 2.3vw;
    
}
.botao5divtela11h_6{
    width: 2.3vw;
}
.botao5divtela11h_7{
    width: 2.3vw;
}
.botao5divtela11h_8{
    width: 2.3vw;
}
.botao5divtela11h_9{
    width: 2.3vw;
}

.botao5divtela11h_10{
    width: 2.3vw;
    margin-left: 35%;
}
.botao5divtela11h_11{
    width: 2.3vw;
    margin-left: 3.2%;
}
.botao5divtela11h_12{
    width: 2.3vw;
    margin-left: 0.6%;
}

.botao5divtela11h_13{
    width: 2.3vw;
    margin-left: 0.6%;
}
.botao5divtela11h_14{
    width: 2.3vw;
}
.botao5divtela11h_15{
    width: 2.3vw;
}
.botao5divtela11h_16{
    width: 2.3vw;
}
.botao5divtela11h_17{
    width: 2.3vw;
}
.botao5divtela11h_18{
    width: 2.3vw;
}

.botao5divtela11_1:hover{
    cursor: pointer;
}
.botao5divtela11_2:hover{
    cursor: pointer;
}
.botao5divtela11_3:hover{
    cursor: pointer;
}

.botao5divtela11_4:hover{
    cursor: pointer;
}
.botao5divtela11_5:hover{
    cursor: pointer;
}
.botao5divtela11_6:hover{
    cursor: pointer;
}

.botao5divtela11_7:hover{
    cursor: pointer;
}
.botao5divtela11_8:hover{
    cursor: pointer;
}
.botao5divtela11_9:hover{
    cursor: pointer;
}

.botao5divtela11_10:hover{
    cursor: pointer;
}
.botao5divtela11_11:hover{
    cursor: pointer;
}
.botao5divtela11_12:hover{
    cursor: pointer;
}

.botao5divtela11_13:hover{
    cursor: pointer;
}
.botao5divtela11_14:hover{
    cursor: pointer;
}
.botao5divtela11_15:hover{
    cursor: pointer;
}

.botao5divtela11_16:hover{
    cursor: pointer;
}
.botao5divtela11_17:hover{
    cursor: pointer;
}
.botao5divtela11_18:hover{
    cursor: pointer;
}

.imagem5tela12{
    position: relative;
    display: flex;
    z-index: 2;
    width: 22vw;
}

.rowstyle{
    border-radius: 3px;border: solid #e25f07; padding: 1vh; font-size: 2vh; 
}

.modalSlide{
    display: none;
}

.modalSlide.active{
    display: block;

}

.tabelattitulo{
    width:20vw;
}

.tabelafinalidade{
    width:29vw;
}

.tabelax{
    width:15vw;
}