@media(max-width: 569px){

    .textp{
        margin-top: -8px !important; 
    }
}


.mod7{
    position: relative;
    display: flex;
    width: 16vw;
    z-index: 1;
}

.imagem7tela0{
    position: relative;
    display: flex;
    width: 32vw;
    margin-left: -6vw;
    cursor:pointer;
}

.imagem7tela1{
    position: relative;
    display: flex;
    z-index: 2;
    width: 22vw;
}

.imagem7tela2{
    position: relative;
    display: flex;
    z-index: 2;
    width: 29vw;
}

.imagem7tela3{
    position: relative;
    display: flex;
    z-index: 2;
    width: 15vw;
}

.imagem7tela4{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem7-tela4.png");
    height: 27vw;
    width: 52vw;
    
    
    
    background-size: cover;
}

.botao7divtela4h_1{
    width: 4vw;
    margin-left: 41%;
    margin-top: 11%;
}
.botao7divtela4h_2{
    width: 4vw;
    margin-top: 3%;
}
.botao7divtela4h_3{
    width: 4vw;
    
    margin-top: -3%;
}
.botao7divtela4h_4{
    width: 4vw;
    margin-left: 1%;
    margin-top: -2.5%;
}
.botao7divtela4h_5{
    width: 4vw;
    margin-left: 1%;
    margin-top: 1%;
}


.botao7divtela4_1{
    width: 4vw;
}
.botao7divtela4_2{
    width: 4vw;
}
.botao7divtela4_3{
    width: 4vw;
}
.botao7divtela4_4{
    width: 4vw;
}
.botao7divtela4_5{
    width: 4vw;
}


.botao7divtela4_1:hover{
    cursor: pointer;
}
.botao7divtela4_2:hover{
    cursor: pointer;
}
.botao7divtela4_3:hover{
    cursor: pointer;
}
.botao7divtela4_4:hover{
    cursor: pointer;
}
.botao7divtela4_5:hover{
    cursor: pointer;
}

.imagem7tela5{
    position: relative;
    display: flex;
    z-index: 2;
    width: 29vw;
}

.imagem7tela6{
    position: relative;
    display: flex;
    z-index: 2;
    width: 9vw;
}

.imagem7tela7{
    position: relative;
    display: flex;
    z-index: 2;
    width: 19vw;
}

.imagem7tela81{
    position: relative;
    display: flex;
    z-index: 2;
    width: 20vw;
}

.imagem7tela82{
    position: relative;
    display: flex;
    z-index: 2;
    width: 24vw;
}

.imagem7tela9{
    position: relative;
    display: flex;
    z-index: 2;
    width: 28vw;
}

.imagem7tela10{
    position: relative;
    display: flex;
    z-index: 2;
    width: 28vw;
}

.imagem7tela11{
    position: relative;
    display: flex;
    z-index: 2;
    width: 25vw;
}

.imagem7tela12{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem7-tela12.svg");
    height: 32vw;
    width: 50vw;
    
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.imagem7tela131{
    position: relative;
    display: flex;
    z-index: 2;
    width: 31vw;
}

.imagem7tela132{
    position: relative;
    display: flex;
    z-index: 2;
    width: 22vw;
}

.imagem7tela14{
    position: relative;
    display: flex;
    z-index: 2;
    width: 55vw;
}

.lupa{
    width: 5vw;
}

.lupa:hover{
    cursor: pointer;
}

.imagem7tela16{
    position: relative;
    display: flex;
    z-index: 2;
    width: 21vw;
}

.imagem7tela17{
    position: relative;
    display: flex;
    z-index: 2;
    width: 24vw;
}

.imagem7tela18{
    position: relative;
    display: flex;
    z-index: 2;
    width: 28vw;
}

.imagem7tela19{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem7-tela19_1.png");
    height: 30vw;
    width: 60vw;
    
    background-size: cover;
}

.botao7divtela19h_1{
    width: 6vw;
    margin-left: 7%;
    margin-top: 33%;
}
.botao7divtela19h_2{
    width: 6vw;
    margin-left: 2%;
    margin-top: 5%;
}
.botao7divtela19h_3{
    width: 6vw;
    margin-left: 47.8%;
    margin-top: 28%;
}
.botao7divtela19h_4{
    width: 6vw;
    margin-left: -2%;
    margin-top: 2%;
}


.botao7divtela19_1{
    width: 6vw;
}
.botao7divtela19_2{
    width: 6vw;
}
.botao7divtela19_3{
    width: 6vw;
}
.botao7divtela19_4{
    width: 6vw;
}


.botao7divtela19_1:hover{
    cursor: pointer;
}
.botao7divtela19_2:hover{
    cursor: pointer;
}
.botao7divtela19_3:hover{
    cursor: pointer;
}
.botao7divtela19_4:hover{
    cursor: pointer;
}

.imagem7tela201{
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem7-tela20_1.png");
    height: 24vw;
    width: 40vw;
    
    justify-content: center;
    
    background-size: cover;
}

.botao7divtela20_1{
    width: 8vw;
}

.botao7divtela20h_1{
    width: 8vw;
    margin-top: 18%;
}

.botao7divtela20_1:hover{
    cursor: pointer;
}

.imagem7tela202{
    
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../img/imagem7-tela20_2.png");
    height: 38.2vw;
    width: 30vw;
    justify-content: center;
    align-items: center;
    
    
    
    background-size: cover;
}
