.mcq-card {
	padding: 0px var(--fio-sys-spacing-padding-xl);
}
.mcq-card .mcq__question {
	padding: var(--fio-sys-spacing-padding-xl) 0;
	border-bottom: 1px solid var(--fio-sys-hr-color);
	font-family:var(--fio-sys-typography-paragraph-family);
	font-size: var(--fio-sys-typography-paragraph-size);
}

/* Answers List */
.mcq-card .mcq__answers {
	padding: var(--fio-sys-spacing-padding-xl) 0;
}
.mcq-card .mcq__answers ul {
	list-style-type: none;
	margin: 0;
	padding:0
}
.mcq-card .mcq__answers ul li {
	padding: var(--fio-sys-spacing-padding-md);
	margin-bottom: 20px;
	border: 2px solid var(--exercise-option-default);
	background-color: var(--fio-sys-color-neutral-extra-light);
	border-radius: var(--fio-sys-spacing-border-radius-xl);
	cursor: pointer;
	transition: 0.1s;
}
.mcq-card .mcq__answers ul li:last-child {
	margin-bottom: 0;
}
.mcq-card .mcq__answers ul li:not(.mcq__answers--blocked, .mcq__answers--selected, .mcq__answers--correct, .mcq__answers--incorrect):hover {
	border-color: var(--fio-sys-color-accent-medium);
	/* background-color: var(--color-light-hover); */
}
.mcq-card .mcq__answers ul li.mcq__answers--selected {
	background-color: var(--fio-sys-color-accent-medium-contrast);
	border-color: var(--fio-sys-color-accent-medium);
	color: var(--fio-sys-color-accent-dark);
}
.mcq-card .mcq__answers ul li.mcq__answers--correct {
	background-color: #c0ffce;
	border-color: #28a745;
	color: #014811;
	cursor: not-allowed;
}
.mcq-card .mcq__answers ul li.mcq__answers--incorrect {
	background-color: #ffc5cb;
	border-color: #dc3545;
	color: #81000c;
	cursor: not-allowed;
}
.mcq-card .mcq__answers ul li.mcq__answers--blocked:not(.mcq__answers--correct, .mcq__answers--incorrect) {
	cursor: not-allowed;
	border-color: var(--exercise-option-default);
	color: var(--exercise-option-blocked);
}

/* Submit Button */
.mcq-card .mcq__submit {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: var(--fio-sys-spacing-padding-xl) 0;
	border-top: 1px solid var(--exercise-divider-line);
}
.mcq-card .mcq__submit button {
	overflow-wrap: normal;
	align-self: end;
}
.mcq-card .mcq__submit button[aria-disabled='true'] {
	background-color: var(--fio-sys-color-neutral-medium);
	border-color: #909599;
	cursor: not-allowed;
}

/* Feedback mensage */
.mcq-card .mcq__submit .mcq__submit--feedback {
	font-family: var(--fio-sys-typography-highlight-family);
	margin-bottom: 30px;
	line-height: var(--fio-sys-typography-head-xs-line-height);
}

.mcq-card .mcq__submit .mcq__submit--feedback strong {
	font-family: var(--fio-sys-typography-highlight-family);
	font-size: var(--fio-sys-typography-head-xs-size);
}
.mcq-card .mcq__submit .mcq__submit--feedback .material-symbols-rounded {
	font-weight: 700;
	margin-right: 10px;
}
.mcq-card .mcq__submit .mcq__submit--feedback .feedback__content {
	vertical-align: top;
	display: block;
	font-family: var(--fio-sys-typography-paragraph-family);
	margin-top: 10px;
	line-height: var(--fio-sys-typography-label-lg-line-height);
}
.mcq-card .mcq__submit .mcq__submit--feedback.mcq__submit__feedback--correct {
	display: block !important;
	color: #1F7A36;
}
.mcq-card .mcq__submit .mcq__submit--feedback.mcq__submit__feedback--incorrect {
	display: block !important;
	color: #dc3545;
}

/* Answer Feedback (correct answers) */

.mcq-card .mcq__answer--feedback {
	padding-bottom: 30px;
}

.mcq-card .mcq__answer--feedback p {
	color: var(--fio-sys-typography-paragraph-color);
}
