/* --- EXERCISE --- */

.exercise .exercise__question {
	padding-bottom: var(--fio-sys-spacing-padding-lg);
	border-bottom: 1px solid var(--fio-sys-hr-color);
	/* font-family: var(--fio-sys-typography-paragraph-family);
	font-size: var(--fio-sys-typography-paragraph-size); */
}

/* Answers List */
.exercise .exercise__answers {
	padding-top: var(--fio-sys-spacing-padding-lg);
}
.exercise .exercise__answers ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.exercise .exercise__answers ul li {
	padding: var(--fio-sys-spacing-padding-md);
	margin-bottom: var(--fio-sys-spacing-margin-md);
	border: 2px solid var(--fio-sys-color-neutral-light);
	background-color: var(--fio-sys-color-neutral-extra-light);
	border-radius: var(--fio-sys-spacing-border-radius-lg);
	cursor: pointer;
	transition: 0.1s;
}
.exercise .exercise__answers ul li:last-child {
	margin-bottom: 0;
}
.exercise .exercise__answers ul li:not(.exercise__answers--blocked, .exercise__answers--selected, .exercise__answers--correct, .exercise__answers--incorrect):hover {
	border-color: var(--fio-sys-color-accent-medium);
	/* background-color: var(--color-light-hover); */
}
.exercise .exercise__answers ul li.exercise__answers--selected {
	color: var(--fio-sys-color-accent-dark);
	border-color: var(--fio-sys-color-accent-medium);
	background-color: var(--fio-sys-color-accent-medium-contrast);
}
.exercise .exercise__answers ul li.exercise__answers--correct {
	background-color: var(--fio-sys-color-success-light);
	border-color: var(--fio-sys-color-success-medium);
	color: var(--fio-sys-color-success-dark);
	cursor: not-allowed;
}
.exercise .exercise__answers ul li.exercise__answers--incorrect {
	background-color: var(--fio-sys-color-error-light);
	border-color: var(--fio-sys-color-error-medium);
	color: var(--fio-sys-color-error-dark);
	cursor: not-allowed;
}
.exercise .exercise__answers ul li.exercise__answers--blocked:not(.exercise__answers--correct, .exercise__answers--incorrect) {
	background-color: var(--fio-sys-color-neutral-extra-light);
	border-color: var(--fio-sys-color-neutral-extra-light);
	color: var(--fio-sys-color-neutral-dark);
	cursor: not-allowed;
}

/* Submit Button */
.exercise .exercise__submit {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	/* padding: var(--fio-sys-spacing-padding-xl) 0; */
	/* border-top: 1px solid var(--exercise-divider-line); */
}
.exercise .exercise__submit button {
	overflow-wrap: normal;
	align-self: end;
}
.exercise .exercise__submit button[aria-disabled='true'] {
	background-color: var(--fio-component-button-color-disable);
	border-color: var(--fio-component-button-color-disable);
	cursor: not-allowed;
}

/* Feedback mensage */
.exercise .exercise__submit .exercise__submit--feedback {
	font-family: var(--fio-sys-typography-highlight-family);
	margin-bottom: 30px;
	line-height: var(--fio-sys-typography-head-xs-line-height);
	text-align: left;
}

.exercise .exercise__submit .exercise__submit--feedback strong {
	font-family: var(--fio-sys-typography-highlight-family);
	font-size: var(--fio-sys-typography-head-xs-size);
}
.exercise .exercise__submit .exercise__submit--feedback .material-symbols-rounded {
	font-weight: 700;
	margin-right: 10px;
}
.exercise .exercise__submit .exercise__submit--feedback .feedback__content {
	display: block;
	font-family: var(--fio-sys-typography-paragraph-family);
	margin-top: 10px;
	line-height: var(--fio-sys-typography-label-lg-line-height);
}
.exercise .exercise__submit .exercise__submit--feedback.exercise__submit__feedback--correct {
	display: block !important;
	color: var(--fio-sys-color-success-dark);
}
.exercise .exercise__submit .exercise__submit--feedback.exercise__submit__feedback--incorrect {
	display: block !important;
	color: var(--fio-sys-color-error-medium);
}

/* Answer Feedback (correct answers) */

.exercise .exercise__answer--feedback {
	padding-bottom: 30px;
}

.exercise .exercise__answer--feedback p {
	color: var(--fio-sys-typography-paragraph-color);
}
